<section class="container-fluid p-0" id="about">
    <div class="container-xxl pt-5">
        <div class="row g-5 p-3">
            <div class="col-md-6 p-3">
                <h4>This is a demo application as one of the requirements for Advanced Web Development I.</h4>
                <p class="lead mt-3">
                    Made by Angular CLI 13, Laravel 8, and these amazing people:
                </p>
            </div>
            <div class="col-md-6 p-3 bg-light">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Arnaiz, Rosale</li>
                    <li class="list-group-item">Cantago, Luisito</li>
                    <li class="list-group-item">Cruz, Krysta Mhae</li>
                    <li class="list-group-item">Decena, Mary Joy</li>
                    <li class="list-group-item">Reyes, Nicole</li>
                    <li class="list-group-item">Saavedra, Juan Paolo</li>
                </ul>
            </div>
            <div class="col-12 text-center">
                <a routerLink="/" class="mt-3 btn btn-secondary btn-sm">Go back</a>
            </div>
        </div>
    </div>
</section>