<nav class="sticky-top container-fluid p-0 d-flex justify-content-center align-items-center bg-light">
    <div class="container-xxl d-flex flex-column flex-md-row justify-content-center justify-content-sm-between align-items-center">
        <a href="/" class="btn btn-sm me-md-2"><h1 class="my-auto header" [ngStyle]="{
            'font-size': '2.3rem'
        }">{{ title }}</h1></a>
        <div class="d-flex flex-row justify-content-center justify-content-md-end align-items-stretch align-items-center">
            <a routerLink="/login" class="btn btn-sm me-md-2" [ngStyle]="{
                'display' : showAuthActions ? 'block' : 'none',
                'font-size': '1.2rem'
            }">Log In</a>
            <a routerLink="/register" class="btn btn-sm {{ showAuthActions ? 'me-md-2' : '' }}" [ngStyle]="{
                'display' : showAuthActions ? 'block' : 'none',
                'font-size': '1.2rem'
            }">Register</a>
            <a routerLink="/posts" class="btn btn-sm {{ showAuthActions ? 'me-md-2' : '' }}" [ngStyle]="{
                'display' : showAuthActions ? 'none' : 'block',
                'font-size': '1.2rem'
            }">Posts</a>
            <a routerLink="/settings" class="btn btn-sm {{ showAuthActions ? 'me-md-2' : '' }}" [ngStyle]="{
                'display' : showAuthActions ? 'none' : 'block',
                'font-size': '1.2rem'
            }">Settings</a>
            <div class="btn btn-sm" [ngStyle]="{
                'display' : showAuthActions ? 'none' : 'block',
                'font-size': '1.2rem'
            }" (click)="logout()">Sign out</div>
        </div>
    </div>
</nav>

