<section class="container-fluid bg-light p-0" [ngStyle]="{
    'max-width': '500px'
}" id="login">
    <div class="container-xxl pt-5 text-center p-3">
        <form action="http://localhost:8000/api/login" method="POST" id="login-form" enctype="multipart/form-data">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" name="email" id="login-email" placeholder="name@example.com">
                <label for="login-email">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" name="password" id="login-password" placeholder="Password">
                <label for="login-password">Password</label>
            </div>
            <div
                class="text-center d-flex flex-column flex-sm-row justify-content-center align-items-stretch align-items-sm-center">
                <app-button type="button" text="Log In" class="btn-secondary" (btnClick)="login()"></app-button>
            </div>
        </form>
    </div>
</section>
