<div class="modal fade" id="static-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="static-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title my-auto header" id="static-modal-label"></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body"></div>
            <div class="modal-footer d-flex flex-column flex-sm-row justify-content-sm-end align-items-stretch align-items-sm-center">
                <button type="button" class="btn btn-secondary btn-sm header" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>