*, html {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    font-size: .9rem;
}

nav {
    min-height: 10vh;
    box-shadow:  5px 10px 20px #f0f0f0;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

footer {
    min-height: 10vh;
}

.jumbotron {
    margin-top: 7rem;
}

.jumbo {
    font-size: 4rem;
    line-height: 100%;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

main, #home, #home > div, #about, #about > div, #login, #login > div, #register, #register > div, #posts, #posts > div, #settings > div {
    min-height: 80vh;
}

#home {
    background: center / cover url("/assets/images/Moon.svg");
}

button, button:focus, .btn, .btn-sm, a {
    box-shadow: none !important;
}

.post-image {
    object-fit: cover;
    width: 100%;
    max-width: 200px;
    height: auto;
}

p, span {
    line-height: 1.5rem;
    font-size: .9rem;
    font-family: 'Assistant', sans-serif;
}

.header, h1.header, h2.header, h3.header, h4.header, h5.header {
    font-family: 'Nunito', sans-serif !important;
    font-weight: 700;
}

@media screen and (max-width: 576px) {
    main, #home, #home > div, #about, #about > div, #login, #login > div, #register, #register > div, #posts, #rposts > div {
        min-height: auto;
    }

    .jumbotron {
        margin-top: auto;
    }
}
