<div class="container-fluid p-0 bg-light">
    <div class="d-block" id="loader" [ngStyle]="{
        'opacity': '1',
        'transition': 'all ease .3s',
        'mix-blend-mode': 'multiply'
    }">
        <div class="d-flex justify-content-center align-items-center" [ngStyle]="{
                'height': '100vh',
                'width': '100%'
            }">
            <img src="/assets/images/dual-ring-loader.gif" />
        </div>
    </div>
    <div class="d-none" id="main">
        <app-header></app-header>
        <main>
            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </main>
    </div>
</div>
