<div class="container mt-5" id="all-posts" [ngStyle]="{
    'max-width': '800px'
}">
    <div>{{ !(allPostsLen > 0) ? 'Prompt to get you started:' : '' }}</div>
    <div class="text-secondary"><i>{{ !(allPostsLen > 0) ? 'How\'s it going?' : '' }}</i></div>
    <app-post
    *ngFor="let post of posts"
    [post]="post">
    </app-post>
    <div class="my-5 d-flex flex-wrap justify-content-center align-items-center">
        <app-button text="{{ (allPostsLen > 0) ? '&#xab; Previous' : '' }}" class="me-2" (btnClick)="previous()"></app-button>
        <div class="header me-2">{{ (allPostsLen > 0) ? 'Page ' + page + ' of ' + allPostsLen : '' }}</div>
        <app-button text="{{ (allPostsLen > 0) ? 'Next &#xbb;' : '' }}" (btnClick)="next()"></app-button>
    </div>
</div>
